@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lacaja {
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
    }


body{
    background-color: #131839;
    display: flex;
    font-family:'Inter', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1m;
    align-items: center;
   
}

.header_nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.navbar{
    display: none;
    justify-content: space-between;
    
    
}

ul{
display: flex;
justify-content:space-between;
color: white;
list-style-type: none;
gap: 20px;
align-items: center;
}

@media (min-width: 600px){
.navbar{
     display: flex;}
}
.button{
    background-color:#6C56C2;
    color:white;
    height: 54px;
    width: 52px;
    left: 286px;
    top: 30px;
    border-radius: 16px;
    border-color: #6C56C2;
    margin-left: auto;
   }
.button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.pad{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.teclado{

     border-radius: 10px;
     align-items: center;
     position: relative;
}

.btn_teclas{
    position:absolute;
    width: 65%;
    height: 71%;
    top: 12%;
    right: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4%;
    }

.btn_pad{
    background: linear-gradient(180deg, #222222 50.35%, #353535 100%);
    border: 3px solid #D94A4A;
    box-shadow: -3px 6px 4px rgba(0, 0, 0, 0.61), inset 0px 4px 6px rgba(255, 255, 255, 0.52), inset -3px 5px 4px rgba(0, 0, 0, 0.77);
    border-radius: 5px;
    top: 0%;
}

.midi{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
h1{
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
}

h2{
    color: #6C56C2;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

h3{
    color: #6C56C2;
    text-align: center;
    font-weight: 600; 
    font-size: 63px;
}

p{
    color: rgba(169, 165, 166, 1);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 120px;
}


.boton_grande{
    
    display: flex;
    font-family: Inter;
    background: #6C56C2;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    border: none;
    padding: 2.5em 4em;
    text-align: center;
    color:white;
    border-radius: 16px;

}

.button_play{
    background: #131839;
    color:white;
}

.Downlod{
   align-items: center;
   flex-direction: column;
}
 